<nav *ngIf="nav.visible" class="navbar navbar-expand-xl navbar-light bg-light">
    <img class="logo" src="assets\Images\Logo.png" width="35" height="35" >
    <a class="navbar-brand" href="#" font routerLink="/">Locomotive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto text-center">
       
        <li class="nav-item">
          <a class="nav-link"  routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/about-us">Contact Us</a>
      </li>
      </ul>
        </div>
  </nav>




  <!-- <nav *ngIf="nav.visible" class="navbar navbar-expand-xl navbar-light bg-light">
    <img class="logo" src="assets\Images\icon.png" width="35" height="35" >
    <a class="navbar-brand" href="#" font>Locomotive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end navbar-right" id="navbarSupportedContent">
      <ul class="navbar-nav text-dark text-centre ">
        <li class="nav-item active">
          <a class="nav-link" href="#">Login </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/trains">Search Train </a>
        </li>
      </ul>
        </div>
  </nav> -->