<form >
    <div class="container">
      <div class="form-container">
  
        <form class="form"  [formGroup]="AddPassenger" (ngSubmit)="onSubmit()">


          <div class="form-control">
            <div *ngIf="name?.touched && name?.invalid" >
              Username is required.</div>
            <input formControlName="name" type="text" id="name" class="form-control form-control-lg"
              placeholder="Name" />


            <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Class</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>First AC</button>
                      <button ngbDropdownItem>Second AC</button>
                      <button ngbDropdownItem>Sleeper</button>
                    </div>
                  </div>
                </div>

          


          <button class="btn btn-login" >Register</button>
      
  
        
      </div>
    </div>
  </form>