<div id="main">
    <div class="ticket-main">
        <div class="ticket-top">
        </div>

        <div class="ticket-middle">

            <div class="middle-row middle-1">
                <span class="ticket-label middle-class">Class</span>
                <span class="ticket-label middle-type">Ticket Type</span>
                <span class="ticket-label middle-adult">Adult</span>
                <span class="ticket-label middle-child">Child</span>
            </div>
                <div class="middle-row middle-1-1">
                <span class="ticket-detail-large middle-class">STD</span>
                <span class="ticket-detail middle-type">Anytime Day R</span>
                <span class="ticket-detail middle-adult">One</span>
                <span class="ticket-detail middle-child">Nil</span>
                <span class="ticket-detail-large middle-rtn">RTN</span>
            </div>
            <div class="middle-row middle-2">
                <span class="middle-railcard-spacer"></span>
                <span class="ticket-label middle-startdate">Start Date</span>
                <span class="ticket-label middle-number">Number</span>
            </div>
            <div class="middle-row middle-2-2">
                <span class="ticket-detail-large middle-railcard-spacer">16-25</span>
                <span class="ticket-detail middle-startdate">23&middot;MCH&middot;16</span>
                <span class="ticket-detail middle-number">01234</span>
                <span class="ticket-detail middle-longnumber">0123456789</span>
            </div>
            <div class="middle-row middle-3">
                <span class="ticket-label middle-from">From</span>
                <span class="ticket-label middle-valid">Valid Until</span>
                <span class="ticket-label middle-price">Price</span>
            </div>
            <div class="middle-row middle-3-3">
                <span class="ticket-detail middle-from">Tamworth *</span>
                <span class="ticket-detail middle-valid">23&middot;MCH&middot;16</span>
                <span class="ticket-detail middle-price">£5.30X</span>
            </div>
            <div class="middle-row middle-4">
                <span class="ticket-label middle-to">To</span>
                <span class="ticket-label middle-route">Route</span>
                <span class="ticket-label middle-validity">Validity</span>
            </div>
            <div class="middle-row middle-4-4">
                <span class="ticket-detail middle-to">Birmingham Stns</span>
                <span class="ticket-detail-small middle-route">Any Permitted</span>
                <span class="ticket-detail-small middle-validity">On Date Shown</span>
            </div>
        </div>

        <div class="ticket-bottom">
            <div class="ticket-logo-2-container">
                <div class="ticket-logo"></div>
            </div>
            <div class="ticket-printed">
                <span class="ticket-label">Printed 09:48 on 23-MCH-16</span>
            </div>
        </div>
    </div>
    <button class="btn btn-primary"> Download PDF</button>
</div>